@using IdentityServer4.Extensions
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(RenderSection("title", required: false) ?? ViewData["Title"] ?? ViewData["title"]) - CHC Consent</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" asp-page="/Index">CHC Consent</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li><a class="nav-item nav-link active" asp-page="/Index">Home</a></li>
                    @if ((await Authorization.AuthorizeAsync(User, "WebsiteAdmin")).Succeeded)
                    {
                        <li><a class="nav-item nav-link active" asp-page="/Admin/Users">User Admin</a></li>
                    }
                </ul>
            
            </div>
            @if (User.IsAuthenticated())
            {
                
                <ul class="navbar navbar-nav">
                    <li><a class="nav-item nav-link" asp-action="Logout" asp-controller="Account">Logout</a></li>
                </ul>
            }
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive-bootstrap/dist/unobtrusive-bootstrap.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive-bootstrap/dist/unobtrusive-bootstrap.js" asp-append-version="true"></script>
</environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    

    @RenderSection("Scripts", required: false)
</body>
</html>


