@using IdentityServer4.Extensions
@model ForgotPasswordEmailModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
<div>
    <p>Hi @Model.User.GetDisplayName()</p>
    <p>You requested a password reset for the CHC Consent System</p>
    <p><a href="@Model.Url">Please click here to reset your password</a></p>
</div>
</body>
</html>