@page
@using Microsoft.IdentityModel.Clients.ActiveDirectory
@model IndexModel

Hello @User.Identity.Name

@if (Model.Studies.Any())
{
    <ul>
        @foreach(var study in Model.Studies)
        {
            <li>
                <a asp-page="Studies" asp-route-id="@study.Id">@study.Name</a>
            </li>
        }
    </ul>
}
