@page "{id:long}"

@model StudiesModel

<h1>@Model.Study.Name</h1>
<table class="table">
    <thead>
    <th></th>
    @foreach (var identifierType in Model.IdentifierNames)
    {
        <th>@Model.DisplayNames[identifierType]</th>

    }
    </thead>
    <tbody>
    @foreach (var (person, identifiers) in Model.People)
    {
        <tr>
            <td>@person.Id</td>
            @{
                foreach (var identifierType in Model.IdentifierNames)
                {
                    <td>
                        @{
                            foreach (var identifier in identifiers[identifierType])
                            {
                                <span><vc:identifier identifier="identifier"/></span>
                            }
                        } 
                    </td>
                }
            }
        </tr>

    }
    </tbody>
</table>

<p class="small">Found @Model.People.Count people</p>